<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Blogify</a>
    <ul>
      <li>
        <a routerLink="/my-articles" *ngIf="isLoggedIn">My Articles</a>
      </li>
      <li>
        <a routerLink="/add-article" *ngIf="isLoggedIn">Add Article</a>
      </li>
      <li>
        <a routerLink="/profile" *ngIf="isLoggedIn">Profile</a>
      </li>
      <li>
        <a routerLink="/login" id="auth-btn">Login/Register</a>
      </li>
    </ul>
  </div>
</nav>
